<div class="page-header">
  <h1>Classement des pronostiqueurs</h1>
</div>
<div class="row-fluid">
  <div class="span 12">
    <!--<span class="label label-info">Tous les pronostics</span>-->
    <span class="alert alert-info">Vous gagnez 3 points si vous trouvez le bon pronostic et 1 point si vous trouvez la bonne équipe gagnante ou le match nul</span>
    <!--<span class="label label-warning">Pronostics en cours </span>-->

  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Rang</th>
    <th>Avatar</th>
    <th>Nom</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <%- rang=0%>
  <% @users.each do |user| %>
      <%- rang+=1 %>
      <tr>
        <td><h2><%= rang %></h2></td>
        <td><%= image_tag(user.avatar) %></td>
        <td><h2><%=user.name%></h2></td>
        <td><h2><%=user.score%></h2></td>
        <td><%= link_to "Voir ses pronostics",pronostics_path(sortbyuser: user.id), :class => "btn btn-info" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
