<div class="page-header">
  <h1>Classement des pronostiqueurs</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Rang</th>
    <th>Avatar</th>
    <th>Nom</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <%- rang=0%>
  <% @users.each do |user| %>
      <%- rang+=1 %>
      <tr>
        <td><h2><%= rang %></h2></td>
        <td><%= image_tag(user.avatar) %></td>
        <td><h2><%=user.name%></h2></td>
        <td><h2><%=user.score%></h2></td>
        <td><%= link_to "Voir ses pronostics",pronostics_path(sortbyuser: user.id), :class => "btn btn-info" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
