<%= form_for @pronostic, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @pronostic.errors.count>0 %>
        <div class="row-fluid" id="error_explanation">
          <h2><%= pluralize(@pronostic.errors.count, "error") %> :</h2>
          <ul>
            <% @pronostic.errors.full_messages.each do |msg| %>
                <li> * <%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class="pronostic">
<table class="table table-condensed" style="text-align: center">
  <caption>Date du match <%=@pronostic.match.date_match%></caption>
  <tr>
    <td><h2><%= @pronostic.match.equipe1.nom%></h2></td>
    <td></td>
    <td><h2><%= @pronostic.match.equipe2.nom%></h2></td>
  </tr>
  <tr>
    <td><%= image_tag @pronostic.match.equipe1.drapeau, :class => "drapeau" %></td>
    <td><span class="center-align"> <%= image_tag "versus.png"%></span></td>
    <td><%= image_tag @pronostic.match.equipe2.drapeau, :class => "drapeau" %></td>
  </tr>
  <tr>
    <td><%= f.number_field :score1, :min => 0, :class => 'number_field edit-btn-large', :placeholder => "SCORE" %></td>
    <td></td>
    <td><%= f.number_field :score2, :min => 0, :class => 'number_field edit-btn-large', :placeholder => "SCORE" %></td>
  </tr>
  <tr>
    <td><%= f.hidden_field :match_id, :class => 'number_field' %></td>
    <td><%= f.submit "VALIDER", :class => 'btn btn-warning btn-xlarge' %></td>
    <td></td>
  </tr>

</table>
</div>

<% end %>
