<% content_for :for_head do %>
    <meta content=<%= pronostic_url(@pronostic) %> property="og:url">
    <meta content=<%= @pronostic.url_s3 %> property="og:image"> <!-- image en 200x200px -->
    <meta content=<%= "#{@pronostic.user.name} pense que le match #{@pronostic.match.phrase} se terminera sur le score de #{@pronostic.score1.to_s} - #{@pronostic.score2.to_s}"%> property="og:title">
    <meta content="'Toi aussi, défis tes amis et donne ton pronostic pour les matchs de la coupe du monde 2014 sur FootiBon! Un pronostiqueur fun et gratuit!'," property="og:description">

<% end %>

<%- model_class = Pronostic -%>
<div class="page-header">
  <h1 align="center">Pronostic de <%= @pronostic.user.name %></h1>
</div>

<div class="result">
<table class="table table-condensed" style="text-align: center">
  <caption><%= @pronostic.match.equipe1.nom+"-"+@pronostic.match.equipe2.nom+" le "+@pronostic.match.date_match.to_s%></caption>
  <tr>
    <td><%=image_tag @pronostic.user.avatar  %></td>
  </tr>
  <tr>
    <td><%= image_tag @pronostic.url_s3, :class => "result_prono_img", :alt => "Erreur de chargement..." %></td>
  </tr>
  <tr>
    <td><a href="javascript:fbShare('<%= pronostic_url(@pronostic) %>',
   <%= "'#{@pronostic.user.name} pense que le match #{@pronostic.match.phrase} se terminera sur le score de #{@pronostic.score1.to_s} - #{@pronostic.score2.to_s}'"%>,
   'Toi aussi, défis tes amis et donne ton pronostic pour les matchs de la coupe du monde 2014 sur FootiBon! Un pronostiqueur fun et gratuit!',
   '<%= @pronostic.url_s3 %>',
    520, 350)" class="btn btn-warning btn-xlarge">PARTAGE TON PRONOSTIC</a></td>
  </tr>
</table>
</div>




