<% content_for :for_head do %>
    <%- show_specific_fb_meta=true %>
    <meta content="<%= pronostic_url(@pronostic) %>" property="og:url">
    <meta content="<%= "#{@pronostic.score1.to_s} - #{@pronostic.score2.to_s}, voici le score pronostiqué par #{@pronostic.user.name} pour le match #{@pronostic.match.phrase}"%>" property="og:title">
    <meta content="FootiBon" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="<%= @pronostic.url_s3 %>" property="og:image"> <!-- image en 200x200px -->
    <meta content="Développé aux Antilles, FootiBon est un jeu permettant de défier ses amis en pronostiquant les résultats des matchs du mondial de Foot en 2014! C'est simple et gratuit ! A vos pronostics !" property="og:description">
    <meta content="723155264407551" property="fb:app_id">
<% end %>

<%- model_class = Pronostic -%>
<div class="page-header">
  <h1 align="center">Pronostic de <%= @pronostic.user.name %></h1>
</div>

<div class="result">
<table class="table table-condensed" style="text-align: center">
  <caption><%= @pronostic.match.equipe1.nom+"-"+@pronostic.match.equipe2.nom+" le "+@pronostic.match.date_match.to_s%></caption>
  <tr>
    <td><%=image_tag @pronostic.user.avatar  %></td>
  </tr>
  <tr>
    <td><%= image_tag @pronostic.url_s3, :class => "result_prono_img", :alt => "Erreur de chargement..." %></td>
  </tr>
  <tr>
    <td style="text-align: center">
      <!-- Buttons start here. Copy this ul to your document. -->
      <ul class="rrssb-buttons clearfix">
        <li class="facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= pronostic_url(@pronostic) %>?cachebust=<%=rand(5..1000)%>" class="popup">
            <span class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                  <path d="M27.825,4.783c0-2.427-2.182-4.608-4.608-4.608H4.783c-2.422,0-4.608,2.182-4.608,4.608v18.434
                        c0,2.427,2.181,4.608,4.608,4.608H14V17.379h-3.379v-4.608H14v-1.795c0-3.089,2.335-5.885,5.192-5.885h3.718v4.608h-3.726
                        c-0.408,0-0.884,0.492-0.884,1.236v1.836h4.609v4.608h-4.609v10.446h4.916c2.422,0,4.608-2.188,4.608-4.608V4.783z"/>
                </svg>
            </span>
            <span class="text" id="bigtextsize">DEFIE TES AMIS</span>
          </a>
        </li>
      </ul>
    </td>
  </tr>
</table>
</div>

<%= javascript_tag do %>
    window.image_url="<%=@pronostic.url_s3%>"
    window.url="<%=pronostic_url(@pronostic)%>"
    window.user_name="<%=@pronostic.user.name%>"
    window.match_name="<%=@pronostic.match.phrase%>"
    window.prono_score="<%=@pronostic.score_prono%>"
<% end %>







