<%= form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date_match, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_match, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score1, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :score1, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :score2, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :score2, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :equipe1_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :equipe1_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :equipe2_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :equipe2_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
