<%= form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date_match, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_match, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    Equipe 1: <%= image_tag @match.equipe1.drapeau, :class => "drapeau"  %><%=@match.equipe1.nom %>
    <div class="controls">
      <%= f.hidden_field :equipe1_id, :class => 'number_field' %>
      <%= f.number_field :score1, :class => 'number_field', :placeholder => "Score1" %>
    </div>
  </div>
  <div class="control-group">
    Equipe 2: <%= image_tag @match.equipe2.drapeau, :class => "drapeau"  %><%=@match.equipe2.nom %>
    <div class="controls">
      <%= f.hidden_field :equipe2_id, :class => 'number_field' %>
      <%= f.number_field :score2, :class => 'number_field', :placeholder => "Score2" %>
    </div>
  </div>
    <div class="control-group">
      A commençé ?
      <div class="controls">
        <%= f.check_box :is_start%>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matches_path, :class => 'btn' %>
  </div>
<% end %>
