<%- model_class = Match -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date_match) %>:</strong></dt>
  <dd><%= @match.date_match %></dd>
</dl>

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="span5 right-align">
    <h2><%= @match.equipe1.nom%></h2>
    <%= image_tag @match.equipe1.drapeau, :class => "drapeau" %>
  </div>
  <div class="span1 center-align"><span class="center-align"> <%= image_tag "versus.png"%></span></div>
  <div class="span5 left-align">
    <h2><%= @match.equipe2.nom%></h2>
    <%= image_tag @match.equipe2.drapeau, :class => "drapeau" %>
  </div>
</div>

<div class="form-actions">
  <%= link_to "PRONOSTIC",
              new_match_pronostics_path(@match), :class => 'btn btn-big btn-warning' %>
</div>
