<%= render :partial => 'layouts/header' %>

 <div class="container">
  <div class="row-fluid">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div><!--/row-->


    <%= render :partial => 'layouts/footer' %>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
